body {
    position: relative;
    min-height: 100vh;
    color: #55566a;
    font-family: TT Norms;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px; }

body, html {
    padding: 0;
    margin: 0;
    font-size: 16px;
    min-height: 100%; }

h2, h3 {
    padding-left: 10px;
    color: red !important; }

header {
    min-height: 20vh;
    max-height: 20vh;
    max-width: 100vw;
    /* background-color: black; */
    background-color: rgb(25, 25, 25);
    padding: 15px 20px; }

header .header-title {
    /* width: 100vw; */
    max-width: 100vw;
    color: white;
    font-size: 5em;
    /* font-family: "BrushScriptStd"; */
    /* font-family: "Boozy"; */
    font-family: "League";
    z-index: 1000;
    margin-left: auto;
    margin-right: auto; }

main {
    min-height: 70vh;
    /* min-width: 100vw; */
    max-width: 100vw;
    /* background: url("../assets/img/sea-fon.jpg"); */
    background-color: white;
    background: url(../assets/img/sea-fon.jpg);
    background-repeat: repeat;
    /* background: url(../assets/img/sea-fon.jpg) repeat-x 0 100% fixed, linear-gradient(to top, white, #004e8c) fixed; */
    /* background-size: 100px auto; */
    /* background: url(../assets/img/sea-fon.jpg) repeat-x 0 100% fixed,
    linear-gradient(to top, white, #004e8c) fixed; */
    /* background-repeat: repeat;
    background-size: contain; */
    /* opacity: .95; */
    animation: sea-fon 40s linear infinite;
 }

::-webkit-scrollbar { width: 3px; height: 3px;}
::-webkit-scrollbar-button {  background-color: #666; }
::-webkit-scrollbar-track {  background-color: #999;}
::-webkit-scrollbar-track-piece { background-color: #ffffff;}
::-webkit-scrollbar-thumb { height: 50px; background-color: #666; border-radius: 3px;}
::-webkit-scrollbar-corner { background-color: #999;}
::-webkit-resizer { background-color: #666;}

 @keyframes sea-fon {
    from { background-position: -1920px 100%, 0 0;}
    to { background-position: 0 100%; }
  }

footer {
    position: sticky;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    bottom: 0;
    padding: 15px;
    margin-top: auto;
    color: white;
    background-color: rgb(25, 25, 25);
    /* width: 100vw; */
    max-width: 100vw;
    min-height: 8vh;
    max-height: 8vh; }

/* .col-footer {
    flex-flow: row;
} */

.header-logo-animation_1,
.header-logo-animation_2 {
    color: rgb(25, 25, 25) !important;
    z-index: 900;
}

.header-logo-animation_1 {
    margin-bottom: -100px;
    /* margin-left: -50px; */
    &:hover {
        transition: opacity 1s;
        color: white !important;
        opacity: .3; }
}

.header-logo-animation_2 {
    margin-bottom: -130px;
    margin-left: -65px;
    &:hover {
        transition: opacity 1s;
        color: white !important;
        opacity: 0.1; }
}

/* .header-logo-animation_1:hover {
    transition: opacity 1s;
    color: white;
    opacity: .1; } */

.img_ico {
    display: block;
    width: 30px;
    height: 30px; }

.main-menu {
    display: flex;
    /* background-color: black; */
    background-color: rgb(25, 25, 25);
    /* margin-top: 1px; */
    height: 40px;
    /* width: 100vw; */
    max-width: 100vw;
    padding: 3px;
    padding-left: 25px; }

/* .main-menu ul {
    display: inline; } */

.main-menu li {
    font-size: 22px;
    display: inline;
    padding-right: 15px;
    
    /* font-family: "Boozy"; */
    /* font-family: "League"; */
    
 }

.main-menu li a {
    border-radius: 5px;
    text-decoration: none;
    padding: 3px 8px;
    color: white;
    &:hover {
        /* color: #4682B4; */
        color: red;
        border: 1px solid crimson;
        /* border: 1px solid #4682B4; */
    }
}

.about_me {
    display: flex;
    /* flex-flow: column; */
    width: 60vw;
    min-height: 40vh;
    max-height: 50vh;
    margin-top: 15vh;
    /* right: 30px; */
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    background-color: rgb(25, 25, 25);
    border-radius: 10px 200px 200px 10px;
}

.about_me_txt {
    display: block;
    background-color: white;
    min-width: 50%;
    /* max-width: 90%; */
    min-height: calc(40vh - 30px);
    /* box-shadow: 7px 5px 0 5px red, -.8em 5px .1em blue; */
    padding: 15px 20vh 15px 15px;
    border-radius: 5px ;
    /* font-family: "Boozy"; */
    /* font-family: "League"; */
    font-family: sans-serif;
    font-size: 19px;
    margin-right: 10px;
    box-shadow: inset 3px 3px gray;
}

.about_me_sign {
    color: crimson;
    /* padding-top: 5px; */
    font-size: 26px;
    margin-right: 40px;
    /* font-family: "Boozy"; */
    /* font-family: "League"; */
}

.photo_area {
    /* max-width: 20%; */
    display: block;
    margin-left: -21vh;
}

.photo_area img {
    min-width: 40vh;
    min-height: 40vh;
    max-width: 40vh;
    max-height: 40vh;
    /* width: 350px;
    height: 350px; */
    border-radius: 200px;
}

.my_works {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-flow: row nowrap;
    /* width: 100vw; */
    min-height: 46vh;
    margin-top: 15vh;
    /* width: 80vw; */
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(25, 25, 25);
    padding: 10px;
    color: white;
    /* font-family: "Boozy"; */
    font-size: 24px;
}

.work_item {
    background-color: white;
    width: 13%;
    min-height: 45vh;
    max-height: 45vh;
    margin-right: 5px;
}

.price_list {
    display: flex;
    /* flex-flow: column; */
    width: 60vw;
    min-height: 43vh;
    max-height: 43vh;
    margin-top: 15vh;
    /* right: 30px; */
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    background-color: rgb(25, 25, 25);
    border-radius: 200px 10px 10px 200px;
}

.price_list_txt {
    display: block;
    min-width: 50%;
    max-width: calc(100% -40vh);
    min-height: 41vh;
    max-height: 41vh;
    background-color: white;
    border-radius: 5px;
    padding: 22px 22px 20px 22vh;
    color: rgb(25, 25, 25);
    font-family: sans-serif;
    font-size: 19px;
    margin-left: 20px;
    box-shadow: inset 3px 3px gray;
}

.info-text-area {
    padding: 5px 15px;
    background-color: white;
    border-radius: 5px;
    color: rgb(25, 25, 25);
}

.contacts {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    /* width: 80vw; */
    min-height: 100px;
    margin-top: 15vh;
    /* margin-bottom: 15vh; */
    background-color: rgb(25, 25, 25);
    /* margin-left: auto;
    margin-right: auto; */
    color: white;
    font-size: 16px;
    /* font-family: "Boozy"; */
    /* font-family: "League"; */
    padding: 15px;
}

/* .contacts li {
    min-width: 50px;
    max-width: 50px;
    min-height: 50px;
    max-height: 50px;
    display: inline; */
/* } */

.contacts li a {
    text-decoration: none;
    color: white;
    border-radius: 5px;
    /* border: 1px solid white; */
    padding: 5px;
    /* margin-top: 30px; */
    &:hover {
        color: red;
    }
}

.fix_socials {
    position: fixed;
    display: flex;
    flex-flow: column;
    z-index: 1200;
    right: 10px;
    bottom: 9vh;
}

.fix_socials_txt {
    position:absolute;
    display: flex;
    flex-flow: column;
    right: 50px;
    bottom: 8vh; }

.fix_socials_txt li {
    margin-top: 15px;
    list-style-type: none;
    
}

.fix_socials a {
    margin-top: 15px;
    /* background-color: rgb(25, 25, 25); */
    /* background-color: red; */
}

.fix_socials a img {
    border-radius: 5px;
    /* background-color: rgb(25, 25, 25); */
    background-color: red;
}

.qr_div {
    width: 120px;
    height: 120px;
    background: url("../assets/qr/qr_0.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    transition: background 1s ease-in-out;
}

.contacts_data_txt {
    padding-left: 15px;
}

@font-face {
    font-family: "BrushScriptStd";
    src: url("../assets/fonts/Brush_Script_Std.ttf") format("truetype");
    font-style: normal;
    font-weight: normal; }

@font-face {
    font-family: "Boozy";
    src: url("../assets/fonts/BOOZY/BOOZY_REGULAR.otf") format("truetype");
    font-style: normal;
    font-weight: normal; }

@font-face {
    font-family: "League";
    src: url(../assets/fonts/LeagueSpartan-Bold.otf) format("truetype");
    font-style: normal;
    font-weight: normal;
}